In [1]:
#imports
import get_function as gf
import pandas as pd

In [2]:
# Brainstorm

# After a brief google search I could find only size of home identified as a key driver of property value, 
# withen the original three estimaters. So, I find it likely that s
# quare ft of home will have the most explanitory 
# value. The number of bedrooms and bathrooms in a house is likely to scale increase with the size in square feet 
# of the house. Because of this, I find it unlikely that these numbers will provide additonal explanitory value.

In [3]:
# Get zillow data on tax value, size of house in square feet, number of bedrooms, and number of bathrooms

# Limited query to housing types listed as'Residential General','Single Family Residential', 'Rural Residence', 
#'Mobile Home', 'Bungalow', 'Manifactured, Modular, Prefabricated Homes', 'Patio Home', or 
#'Inferred Single Family Residential' to target "single unit properties."

# Limites query to units who's last transaction date in between 2017-05-01 and 2017-06-31 to target 
#"hot months" of May and June in 2017

# Dropped all rows with nulls in any column

# changed df values to int then changed 
#Tax_value column to float

df_zillow = gf.wrangle_zillow()

df_zillow.head()

   Tax_Value    Size  Bedrooms  Bathrooms
0   498347.0    6211         4          2
1   549917.0    9109         3          3
2   235272.0    7538         3          2
3   340000.0  111564         2          2
4  2017254.0   10497         2          3

In [4]:
# Split Data into x and y
df = df_zillow
x = df.drop(columns='Tax_Value')
y = df[['Tax_Value']]

In [5]:
x.head()

     Size  Bedrooms  Bathrooms
0    6211         4          2
1    9109         3          3
2    7538         3          2
3  111564         2          2
4   10497         2          3

In [6]:
y.head()

   Tax_Value
0   498347.0
1   549917.0
2   235272.0
3   340000.0
4  2017254.0

In [7]:
# Split x and y data into test and train set for each
train_pct = .8
x_train, x_test, y_train, y_test = gf.split_my_data(x, y, train_pct)

In [8]:
x_train.shape

(12820, 3)

In [9]:
x_test.shape

(3206, 3)

In [10]:
y_train.shape

(12820, 1)

In [11]:
y_test.shape

(3206, 1)

In [12]:
# Scale x_train and x_test using standard scaler
train = x_train
test = x_test

x_train, x_test, scaler = gf.standard_scaler(train,test)

In [13]:
x_train.head()

           Size  Bedrooms  Bathrooms
4576  -0.141846 -2.258310  -1.131832
11842 -0.067682 -1.246018  -0.158131
10111 -0.068276 -0.233727  -0.158131
5189  -0.036842 -0.233727  -0.158131
15819 -0.050961 -0.233727  -0.158131

In [14]:
x_test.head()

           Size  Bedrooms  Bathrooms
9317  -0.046398 -0.233727   0.815569
3077  -0.055153 -1.246018  -0.158131
12966 -0.085666 -1.246018  -1.131832
6853  -0.056535 -0.233727  -0.158131
11448 -0.053874  0.778564  -0.158131

In [15]:
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
# calculate baseline errors
df = y_train
column = "Tax_Value"
SSE_base, MSE_base, RMSE_base, n = gf.baseline_mean_errors(df,column)

In [17]:
SSE_base

5638868996160291.0

In [18]:
MSE_base

439849375675.5297

In [19]:
RMSE_base

663211.4109961692

In [20]:
n

12820

In [21]:
# Make dataframe of Size and Tax_Values
# fit dataframe to OLS model
# Then generate Size yhat veriable
df = x_train
dfy = y_train[['Tax_Value']]
df[['Tax_Value']]= dfy
# X_col can be list ['ver','ver2']
x_col = ['Size','Bedrooms']
y_col = 'Tax_Value'
Size_yhat = gf.get_yhat(df,x_col,y_col)
Size_yhat.head()

            yhat
0   81431.410411
1  253924.843852
2  424019.188311
3  425027.950378
4  424574.842121

In [23]:
import numpy as np
# Generate model errors for Size and Tax_Values
yhat = Size_yhat
yhat['y']=y_train.Tax_Value.reset_index(drop=True)
yhat['residual']=yhat.yhat-yhat.y
#numbers = gf.regression_errors(y, yhat)
yhat

                yhat          y      residual
0       81431.410411   269641.0 -1.882096e+05
1      253924.843852   134865.0  1.190598e+05
2      424019.188311   465469.0 -4.144981e+04
3      425027.950378   446551.0 -2.152305e+04
4      424574.842121    97502.0  3.270728e+05
5      423324.263331   238731.0  1.845933e+05
6      596100.531716   326195.0  2.699055e+05
7      251971.708786   619302.0 -3.673303e+05
8      425032.242983   390871.0  3.416124e+04
9      252513.053914    94339.0  1.581741e+05
10     422938.405879   263000.0  1.599384e+05
11     632325.821437   447733.0  1.845928e+05
12     595091.292693  1152144.0 -5.570527e+05
13     593595.558489    53794.0  5.398016e+05
14     767097.753997   775500.0 -8.402246e+03
15     252465.835264   164692.0  8.777384e+04
16     424064.499137   169007.0  2.550575e+05
17     253890.979972   963766.0 -7.098750e+05
18     763230.117305   365978.0  3.972521e+05
19     599993.447079   381639.0  2.183544e+05
20     593999.063315   642000.0 -4.800094e+04
21     424496.144371   270416.0  1.540801e+05
22     255198.316533   185727.0  6.947132e+04
23     437525.630021  7424446.0 -6.986920e+06
24     259917.796747  4480000.0 -4.220082e+06
25     593879.824300  2792952.0 -2.199072e+06
26     253835.653069    56287.0  1.975487e+05
27     423551.294416   429746.0 -6.194706e+03
28     594305.746062   353568.0  2.407377e+05
29     423450.179731    51932.0  3.715182e+05
...              ...        ...           ...
12790  766972.791509  5612000.0 -4.845027e+06
12791  423193.577371    77077.0  3.461166e+05
12792  423450.179731   159776.0  2.636742e+05
12793  594712.112625   314374.0  2.803381e+05
12794  423864.177591   160000.0  2.638642e+05
12795  424457.510930    50071.0  3.743865e+05
12796  253702.105372   795777.0 -5.420749e+05
12797  593968.061171   322173.0  2.717951e+05
12798  592382.659228   335688.0  2.566947e+05
12799  421871.932128   187239.0  2.346329e+05
12800  423798.357655   595000.0 -1.712016e+05
12801  423799.788523   405000.0  1.879979e+04
12802  593887.455597    68951.0  5.249365e+05
12803  594022.911118   209223.0  3.847999e+05
12804  596932.343085   182051.0  4.148813e+05
12805  593433.393428   336085.0  2.573484e+05
12806  593402.868240   313238.0  2.801649e+05
12807  426255.635277   211488.0  2.147676e+05
12808  423623.314781   341726.0  8.189731e+04
12809  254547.271510   335079.0 -8.053173e+04
12810  594157.889683   341653.0  2.525049e+05
12811  763973.691803   468720.0  2.952537e+05
12812  421627.730626   184072.0  2.375557e+05
12813  423862.746723   500300.0 -7.643725e+04
12814  422812.489479   540921.0 -1.181085e+05
12815  595243.441676   486700.0  1.085434e+05
12816  594620.060106   335032.0  2.595881e+05
12817  253080.154670   141672.0  1.114082e+05
12818  423701.058619   508387.0 -8.468594e+04
12819  254130.411914    29029.0  2.251014e+05

[12820 rows x 3 columns]