In [1]:
#imports
import get_function as gf
import pandas as pd
import numpy as np

In [2]:
# Brainstorm

# After a brief google search I could find only size of home identified as a key driver of property value, 
# withen the original three estimaters. So, I find it likely that s
# quare ft of home will have the most explanitory 
# value. The number of bedrooms and bathrooms in a house is likely to scale increase with the size in square feet 
# of the house. Because of this, I find it unlikely that these numbers will provide additonal explanitory value.

In [3]:
# Get zillow data on tax value, size of house in square feet, number of bedrooms, and number of bathrooms

# Limited query to housing types listed as'Residential General','Single Family Residential', 'Rural Residence', 
#'Mobile Home', 'Bungalow', 'Manifactured, Modular, Prefabricated Homes', 'Patio Home', or 
#'Inferred Single Family Residential' to target "single unit properties."

# Limites query to units who's last transaction date in between 2017-05-01 and 2017-06-31 to target 
#"hot months" of May and June in 2017

# Dropped all rows with nulls in any column

# changed df values to int then changed 
#Tax_value column to float

df_zillow = gf.wrangle_zillow()

df_zillow.head()

   Tax_Value    Size  Bedrooms  Bathrooms
0   498347.0    6211         4          2
1   549917.0    9109         3          3
2   235272.0    7538         3          2
3   340000.0  111564         2          2
4  2017254.0   10497         2          3

In [4]:
# Split Data into x and y
df = df_zillow
x = df.drop(columns='Tax_Value')
y = df[['Tax_Value']]

In [5]:
x.head()

     Size  Bedrooms  Bathrooms
0    6211         4          2
1    9109         3          3
2    7538         3          2
3  111564         2          2
4   10497         2          3

In [6]:
y.head()

   Tax_Value
0   498347.0
1   549917.0
2   235272.0
3   340000.0
4  2017254.0

In [7]:
# Split x and y data into test and train set for each
train_pct = .8
x_train, x_test, y_train, y_test = gf.split_my_data(x, y, train_pct)

In [8]:
x_train.shape

(12820, 3)

In [9]:
x_test.shape

(3206, 3)

In [10]:
y_train.shape

(12820, 1)

In [11]:
y_test.shape

(3206, 1)

In [12]:
# Scale x_train and x_test using standard scaler
train = x_train
test = x_test

x_train, x_test, scaler = gf.standard_scaler(train,test)

In [13]:
y_train.shape

(12820, 1)

In [14]:
x_train.head()

           Size  Bedrooms  Bathrooms
4576  -0.141846 -2.258310  -1.131832
11842 -0.067682 -1.246018  -0.158131
10111 -0.068276 -0.233727  -0.158131
5189  -0.036842 -0.233727  -0.158131
15819 -0.050961 -0.233727  -0.158131

In [15]:
x_test.head()

           Size  Bedrooms  Bathrooms
9317  -0.046398 -0.233727   0.815569
3077  -0.055153 -1.246018  -0.158131
12966 -0.085666 -1.246018  -1.131832
6853  -0.056535 -0.233727  -0.158131
11448 -0.053874  0.778564  -0.158131

In [16]:
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [17]:
# calculate baseline errors
df = y_train
column = "Tax_Value"
SSE_base, MSE_base, RMSE_base, n = gf.baseline_mean_errors(df,column)

In [18]:
SSE_base

5638868996160291.0

In [19]:
MSE_base

439849375675.5297

In [20]:
RMSE_base

663211.4109961692

In [21]:
n

12820

In [29]:
#create dataframe for each iteration of x to y veriables fit eaxh to a
#regression model and get dataframe with yhats for each modle

In [30]:
# Size

df = x_train
dfy = y_train[['Tax_Value']]
df[['Tax_Value']]= dfy
# X_col can be list ['ver','ver2']
x_col = ['Size']
y_col = 'Tax_Value'

Size_yhat = gf.get_yhat(df,x_col,y_col)

Size_yhat.head()

            yhat
0  460801.882337
1  463251.814793
2  463232.176056
3  464270.574281
4  463804.154274

In [36]:
# Bedrooms
df = x_train
dfy = y_train[['Tax_Value']]
df[['Tax_Value']]= dfy
# X_col can be list ['ver','ver2']
x_col = ['Bedrooms']
y_col = 'Tax_Value'

Bedrooms_yhat = gf.get_yhat(df,x_col,y_col)

In [37]:
Bedrooms_yhat.head()

            yhat
0   85576.812517
1  255872.487046
2  426168.161575
3  426168.161575
4  426168.161575

In [40]:
# Bathrooms
df = x_train
dfy = y_train[['Tax_Value']]
df[['Tax_Value']]= dfy
# X_col can be list ['ver','ver2']
x_col = ['Bathrooms']
y_col = 'Tax_Value'

Bathrooms_yhat = gf.get_yhat(df,x_col,y_col)

In [43]:
Bathrooms_yhat.head()

            yhat
0   86547.834907
1  412544.867822
2  412544.867822
3  412544.867822
4  412544.867822

In [47]:
# Size and Bedrooms
df = x_train
dfy = y_train[['Tax_Value']]
df[['Tax_Value']]= dfy
# X_col can be list ['ver','ver2']
x_col = ['Size','Bedrooms']
y_col = 'Tax_Value'

Size_Bedrooms_yhat = gf.get_yhat(df,x_col,y_col)

In [48]:
Size_Bedrooms_yhat.head()

            yhat
0   81431.410411
1  253924.843852
2  424019.188311
3  425027.950378
4  424574.842121

In [49]:
# Size and Bathrooms
df = x_train
dfy = y_train[['Tax_Value']]
df[['Tax_Value']]= dfy
# X_col can be list ['ver','ver2']
x_col = ['Size','Bathrooms']
y_col = 'Tax_Value'

Size_Bathrooms_yhat = gf.get_yhat(df,x_col,y_col)

In [50]:
# Bedrooms and Bathrooms
df = x_train
dfy = y_train[['Tax_Value']]
df[['Tax_Value']]= dfy
# X_col can be list ['ver','ver2']
x_col = ['Bedrooms','Bathrooms']
y_col = 'Tax_Value'

Bedrooms_Bathrooms_yhat = gf.get_yhat(df,x_col,y_col)

In [55]:
# Size, Bedrooms, and Bathrooms
df = x_train
dfy = y_train[['Tax_Value']]
df[['Tax_Value']]= dfy
# X_col can be list ['ver','ver2']
x_col = ['Size','Bedrooms','Bathrooms']
y_col = 'Tax_Value'

Size_Bedrooms_Bathrooms_yhat = gf.get_yhat(df,x_col,y_col)

In [56]:
Size_Bathrooms_yhat.head()

            yhat
0   84497.145216
1  411273.338411
2  411261.103755
3  411908.011195
4  411617.438113

In [57]:
Bedrooms_Bathrooms_yhat.head()

            yhat
0  231248.639003
1  522059.334252
2  424912.487660
3  424912.487660
4  424912.487660

In [58]:
Size_Bedrooms_Bathrooms_yhat.head()

            yhat
0  228415.171281
1  520170.504490
2  423660.090779
3  424249.647702
4  423984.834899

In [ ]:
# generate errors for each model

In [69]:
# Size
yhat = Size_yhat
y = df.Tax_Value

Size_SSE, Size_MSE, Size_RMSE, Size_EES, Size_TSS = gf.regression_errors(y, yhat)

In [70]:
# Bedrooms
yhat = Bedrooms_yhat
y = df.Tax_Value

Bedrooms_SSE, Bedrooms_MSE, Bedrooms_RMSE, Bedrooms_EES, Bedrooms_TSS = gf.regression_errors(y, yhat)

In [71]:
# Bathrooms
yhat = Bathrooms_yhat
y = df.Tax_Value

Bathrooms_SSE, Bathrooms_MSE, Bathrooms_RMSE, Bathrooms_EES, Bathrooms_TSS = gf.regression_errors(y, yhat)

In [72]:
# Size and Bedrooms
yhat = Size_Bedrooms_yhat
y = df.Tax_Value

Size_Bedrooms_SSE, Size_Bedrooms_MSE, Size_Bedrooms_RMSE, Size_Bedrooms_EES, Size_Bedrooms_TSS = gf.regression_errors(y, yhat)

In [73]:
# Size and Bathrooms
yhat = Size_Bathrooms_yhat
y = df.Tax_Value

Size_Bathrooms_SSE, Size_Bathrooms_MSE, Size_Bathrooms_RMSE, Size_Bathrooms_EES, Size_Bathrooms_TSS = gf.regression_errors(y, yhat)

In [74]:
# Bedrooms and Bathrooms
yhat = Bedrooms_Bathrooms_yhat
y = df.Tax_Value

Bedrooms_Bathrooms_SSE, Bedrooms_Bathrooms_MSE, Bedrooms_Bathrooms_RMSE, Bedrooms_Bathrooms_EES, Bedrooms_Bathrooms_TSS = gf.regression_errors(y, yhat)

In [75]:
# Size, Bedrooms, and Bathrooms
yhat = Size_Bedrooms_Bathrooms_yhat
y = df.Tax_Value

Size_Bedrooms_Bathrooms_SSE, Size_Bedrooms_Bathrooms_MSE, Size_Bedrooms_Bathrooms_RMSE, Size_Bedrooms_Bathrooms_EES, Size_Bedrooms_Bathrooms_TSS = gf.regression_errors(y, yhat)

In [76]:
# compare MRSE of models to baseline

In [77]:
RMSE_base

663211.4109961692

In [78]:
Size_Bedrooms_Bathrooms_RMSE

507720.68891883275

In [79]:
Size_Bedrooms_RMSE

573057.2900243533

In [80]:
Size_Bathrooms_RMSE

511713.6623998737

In [81]:
Bedrooms_Bathrooms_RMSE

507997.1553336998

In [82]:
Size_RMSE

592439.5440981064

In [83]:
Bedrooms_RMSE

573775.6057734875

In [84]:
Bathrooms_RMSE

512044.13438364986