In [1]:
#imports
import get_function as gf

In [2]:
# Brainstorm

# After a brief google search I could find only size of home identified as a key driver of property value, 
# withen the original three estimaters. So, I find it likely that square ft of home will have the most explanitory 
# value. The number of bedrooms and bathrooms in a house is likely to scale increase with the size in square feet 
# of the house. Because of this, I find it unlikely that these numbers will provide additonal explanitory value.

In [3]:
# Get zillow data on tax value, size of house in square feet, number of bedrooms, and number of bathrooms

# Limited query to housing types listed as'Residential General','Single Family Residential', 'Rural Residence', 
#'Mobile Home', 'Bungalow', 'Manifactured, Modular, Prefabricated Homes', 'Patio Home', or 
#'Inferred Single Family Residential' to target "single unit properties."

# Limites query to units who's last transaction date in between 2017-05-01 and 2017-06-31 to target 
#"hot months" of May and June in 2017

# Dropped all rows with nulls in any column

# changed df values to int then changed 
#Tax_value column to float

df_zillow = gf.wrangle_zillow()

df_zillow.head()

   Tax_Value    Size  Bedrooms  Bathrooms
0   498347.0    6211         4          2
1   549917.0    9109         3          3
2   235272.0    7538         3          2
3   340000.0  111564         2          2
4  2017254.0   10497         2          3

In [4]:
# Split Data into x and y
df = df_zillow
x = df.drop(columns='Tax_Value')
y = df[['Tax_Value']]

In [5]:
x.head()

     Size  Bedrooms  Bathrooms
0    6211         4          2
1    9109         3          3
2    7538         3          2
3  111564         2          2
4   10497         2          3

In [6]:
y.head()

   Tax_Value
0   498347.0
1   549917.0
2   235272.0
3   340000.0
4  2017254.0

In [7]:
# Split x and y data into test and train set for each
train_pct = .8
x_train, x_test, y_train, y_test = gf.split_my_data(x, y, train_pct)

In [8]:
x_train.shape

(12820, 3)

In [9]:
x_test.shape

(3206, 3)

In [10]:
y_train.shape

(12820, 1)

In [11]:
y_test.shape

(3206, 1)

In [12]:
# Scale x_train and x_test using standard scaler
train = x_train
test = x_test

x_train, x_test, scaler = gf.standard_scaler(train,test)

In [13]:
x_train.head()

           Size  Bedrooms  Bathrooms
4576  -0.141846 -2.258310  -1.131832
11842 -0.067682 -1.246018  -0.158131
10111 -0.068276 -0.233727  -0.158131
5189  -0.036842 -0.233727  -0.158131
15819 -0.050961 -0.233727  -0.158131

In [14]:
x_test.head()

           Size  Bedrooms  Bathrooms
9317  -0.046398 -0.233727   0.815569
3077  -0.055153 -1.246018  -0.158131
12966 -0.085666 -1.246018  -1.131832
6853  -0.056535 -0.233727  -0.158131
11448 -0.053874  0.778564  -0.158131

In [15]:
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
# Calculate baseline y error values
y = y_train

baseline_errors = gf.baseline_mean_errors(y)

baseline_errors

TypeError: unsupported operand type(s) for +: 'int' and 'str'